.App-header {
    transition: padding-left 0.3s;
    width: calc(100% - var(--navbar-width, 15%) - 10px); /* Subtract an additional 10px */
    height: 100vh; /* Adjust as per your design */
    position: relative;
    left: 0;
    top: 0;
    /* background-color: blue; */
    display: flex;
    transition: margin-left 0.3s;
    margin-left: calc(var(--navbar-width, 15%) + 10px); /* Add 10px to the left margin */
    min-height: 100vh;
    width: auto; /* Adjust width to account for the navbar and 10px padding */

}
#root{
    width: 100%;
}


/* Optional: Ensure the content doesn't overlap or stay hidden under the navbar */
body {
    overflow-x: hidden;
}
